@media only screen and (min-width: 1025px) and (max-width: 2000px) {
    body {
        font-size: 14px;
    }
    i {
        margin-right: 5px;
    }
    section {
        width: 95%;
        margin: 20px auto;
        max-width: 1900px;
    }
    nav {
        width: 100%;
    }
    .nav-content {
        width: 95%;
    }
    #navbar .ads-trai,
    #navbar .ads-phai {
        display: none;
    }
    .nav-search .search-box {
        width: 90%;
        height: auto;
        font-size: 0.8rem;
        border: none;
        padding: 10px 25px;
        border-radius: 25px 0 0 25px;
    }
    .nav-search .search-button {
        width: 10%;
        height: auto;
        padding: 10px;
        font-size: 0.8rem;
        border: none;
        background-color: var(--red);
        color: var(--white);
        border-radius: 0 25px 25px 0;
        text-align: center;
    }
    .nav-top-menu .top-menu-item {
        font-size: 0.8rem;
    }
    .nav-middle-menu .middle-menu-item {
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--red);
        padding: 0 30px;
        border-left: var(--red) solid 3px;
    }
    .nav-bottom-menu .products-button {
        background-color: var(--black-bg);
        color: var(--white);
        height: auto;
        font-size: 0.7rem;
        padding: 10px 5px;
        border-radius: 8px;
        position: relative;
        text-align: center;
    }
    .nav-bottom-menu .bottom-menu-item {
        font-size: 0.7rem;
        flex: 20.5%;
        margin-left: 0.5%;
        height: auto;
        padding: 10px 0;
    }
    .products-list ul li .list-item {
        font-size: 0.7rem;
    }
    #banner {
        width: 100%;
    }
    .banner-list {
        flex: 100%;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    #banner .banner-container {
        width: 95%;
    }
    .banner-list .slideshow {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }
    .banner-list .banner-item:nth-child(1) {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .banner-list .banner-item:nth-child(3) {
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }
    .banner-list .banner-item:nth-child(2),
    .banner-list .banner-item:nth-child(4),
    .banner-list .banner-item:nth-child(5) {
        display: none;
    }
    .mega-menu .menu-category .menu-items .menu-item-title {
        text-decoration: none;
        color: var(--red);
        font-size: 0.8rem;
        font-weight: bold;
        display: block;
    }
    .mega-menu .menu-category .menu-items .menu-item {
        text-decoration: none;
        color: var(--gray-font);
        font-size: 0.8rem;
        display: block;
    }
    .hot-sell-card .hot-sell-card-info {
        font-size: 1rem;
    }
    .hot-sell-card .hot-sell-card-price h2 {
        font-size: 1rem;
    }
    .hot-sell-card .hot-sell-card-price h1 {
        font-size: 1.25rem;
    }
    .products-list .product-card .product-info {
        font-size: 1rem;
        height: 50px;
    }
    .products-list .product-card .product-price h2 {
        font-size: 1rem;
    }
    .products-list .product-card .product-price h1 {
        font-size: 1.25rem;
    }
    .products-list .product-card .product-saleoff {
        top: 65%;
        left: 60%;
    }
    .products-row .products-nav .btn-nav {
        font-size: 1rem;
    }
    #register-email .register-slogan {
        font-size: 1rem;
    }
    #register-email .regiser-form .input-register {
        font-size: 1rem;
    }
    #register-email .regiser-form .btn-register {
        font-size: 1rem;
    }
    #footer .footer-info .company-info {
        font-size: 1rem;
        font-weight: bold;
    }
    #footer .footer-info p {
        font-size: 1.25rem;
    }
    #footer .footer-info table {
        width: auto;
        font-size: 1.25rem;
    }
    #footer .footer-info .policy-link a {
        font-size: 1rem;
    }
    #footer .footer-showroom p {
        font-size: 1rem;
    }
    #footer .footer-showroom .showroom-title a {
        font-size: 1.25rem;
    }
}